appdirs==1.4.4
certifi==2024.12.14
cfscrape==2.1.1
charset-normalizer==3.4.1
dnspython==2.7.0
idna==3.10
importlib_metadata==8.5.0
numpy==2.2.1
pandas==2.2.3
psutil==6.1.1
pyee==11.1.1
pymongo==4.10.1
pyppeteer==2.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.17.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
websockets==10.4
zipp==3.21.0
